.mail-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    
}
.mail-form-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.input-mail{

    padding: 5px 35px;
    border-radius: 3px;
}

.submit-yellow{
background: #f1c40f;
color: black;
border: none;
padding: 10px 35px;
font-size: 15px;
font-weight: 900;
}